:root {
    /* Primary brand colors */
    --color-primary: #008585;
    --color-primary-dark: #004343;
    --color-primary-soft: #74a892;

    /* Background system */
    --color-bg: #fbf2c4;
    --color-bg-alt: #f0daa5;
    --color-surface: #e5c185;

    /* Semantic accent */
    --color-danger: #c7522a;

    /* Neutral text / UI */
    --color-text: #343a40;
    --color-text-muted: #a7b4bf;
}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

